@use "../variables" as *;

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  gap: 0.5rem;

  width: $size-main;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: calc($size-main + 20px)) {
    width: 100%;
  }
}

/*
Ci-dessous, le positionnement des éléments par ailleurs définis
dans "components".
*/

aside {
  .layout-accueil & {
    &:first-of-type {
      grid-row: 1 / 12;
      grid-column: 1 / 3;

      @media (max-width: $breakpoint-tablet) {
        display: none;
      }
    }
    &:last-of-type {
      grid-row: 1 / 2;
      grid-column: 11 / 13;
      @media (max-width: $breakpoint-tablet) {
        grid-column: 1 / 4;
      }
      @media (max-width: $breakpoint-smartphone) {
        display: none;
      }
    }
  }

  grid-row: 1 / 12;
  grid-column: 9 / 11;
  @media (max-width: $breakpoint-smartphone) {
    &:only-of-type {
      display: none;
    }
  }
}

.coup-coeur {
  grid-row: 1 / 6;
  grid-column: 3 / 7;
  @media (max-width: $breakpoint-tablet) {
    grid-column: 4 / 9;
  }
  @media (max-width: $breakpoint-smartphone) {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
  }
}

// Pour Javascript : autant de ligne que d'événements. 1 / 3 = 2 événements
.evenement {
  grid-row: 1 / 3;
  grid-column: 7 / 11;
  @media (max-width: $breakpoint-tablet) {
    grid-column: 9 / 13;
  }
  @media (max-width: $breakpoint-smartphone) {
    grid-column: 1 / 13;
    grid-row: 2 / 3;
  }
}

.alaffiche {
  grid-column: 3 / 9;
  grid-row-end: span 4;
  @media (max-width: $breakpoint-smartphone) {
    grid-column: 1 / 13;
  }
}

.top-page {
  grid-column: 3 / 9;
  @media (max-width: $breakpoint-smartphone) {
    grid-column: 1 / 13;
  }
}

.cine-memoire {
  grid-row: 1 / 3;
  grid-column: 3 / 9;

  @media (max-width: $breakpoint-smartphone) {
    grid-column: 1 / 13;
  }
}

.info-pratique {
  grid-row: span 4;
  grid-column: 3 / 9;

  @media (max-width: $breakpoint-smartphone) {
    grid-column: 1 / 13;
  }
}

.PJ {
  grid-row: span 1;
  grid-column: 3 / 7;

  @media (max-width: $breakpoint-tablet) {
    grid-column: 4 / 9;
  }
  @media (max-width: $breakpoint-smartphone) {
    grid-column: 1 / 13;
  }
}

.page-form {
  grid-column: 3 / 9;
}
