extends layout 

block content 
  section.cine-memoire
    div
      h2 Rendez-vous avec Cin&eacute;-M&eacute;moire
      p
        | L&apos;objectif &agrave; l&apos;initiative de CINA, association r&eacute;gionale de cin&eacute;ma
        | d&apos;Art et Essai, est de contribuer &agrave; mettre en valeur le patrimoine
        | cin&eacute;matographique et (re)d&eacute;couvrir des chefs d&apos;&oelig;uvres du patrimoine
        | cin&eacute;matographique mondial.
    .cine-memoire-film
      h2 Pr&eacute;sent&eacute; par Fred Abrachkoff le dimanche 26 mai &agrave; 20h00
      div
        p
          | Land and Freedom appartient &agrave; cette cat&eacute;gorie de films qui m&ecirc;lent
          | les genres, c&rsquo;est une fiction &agrave; base documentaire. Cette
          | ambivalence est frappante d&egrave;s le d&eacute;but du film car Ken Loach
          | montre des images d&rsquo;archives, qu&rsquo;il inclut ensuite dans le r&eacute;cit
          | comme une pr&eacute;sentation d&rsquo;un militant communiste anglais. Tout au
          | long du film il fera appara&icirc;tre de vraies / fausses archives :
          | coupures de presse, photos des acteurs en situation, plans&mldr; Le
          | film donne ainsi l&rsquo;impression de v&eacute;cu, qui provient probablement
          | de l&rsquo;abondante documentation des auteurs. C&rsquo;est d&rsquo;ailleurs au
          | moyen de ces flashbacks et flash-forwards, qu&rsquo;ils cr&eacute;ent un film
          | historique qui se rapproche du t&eacute;moignage.
        img(src='img/films/Land and freedom.webp' alt='Affiche du film Land and freedom' width='250' height='333')
