extends layout

block content 
  form.page-form(method='POST')
    label(for='page-selection') Page à modifier : 
    select#page-selection(name='page' required)
      option(value='') --Sélectionner une page à modifier--
      for page in pages 
        option(value=page) #{page}
    label(for='title') Titre de la page : 
    input#title(type='text' placeholder='Chauvigny' name='title' required)
    button(type='submit') Modifier