mixin genre_form
  form#genre-form.page-form(action='/db/genre' method='POST')
    legend Ajouter un genre
    label(for='name') Nom :
    input#name(type='text' name='name')
    label(for='url') Lien vers la page Web :
    input#url(type='text' name='url')
    button(type='submit') Ajouter