extends layout 

block content 
  section.coup-coeur
    h2 Coup de coeur du mois
    img(src="", alt="")
    div 
      p
        b Horaires
        br
        | Ven. 17 à 20h30
        br
        | Dim. 19 à 17h00
      button Infos
    p#resume-coup-coeur Résumé du film
  
  section.evenement
    h2 Événements
    div
      p "Titre du film"
      p 
        strong date de la séance
      p FILMS 
        mark CINÉ MÉMOIRE
    div
      hr
      hr
    div 
      p Des séances destinées tout particulièrement au 
        mark 
          strong jeune public 
          | et 
          strong public adolescent 
        | ont été programmées à 
        strong 17h jeudi 9, vendredi 10 et mercredi 22 mai.
  
  section.PJ 
    div 
      a(href="res/affiche Mai 2024 V3.pdf", target="_blank")
        img(src="img/pdf_ico.webp", width="52", height="52")
        p Programme 
          br
          | Mai 2024
  
  aside#coming-soon
    h2 Prochainement
    figure
      img(src="", alt="")