extends layout 

block content 
  section.coup-coeur
    h2 Coup de coeur du mois
    img(src='img/films/Borgo.webp' alt='Affiche du film Borgo' width='189' height='259')
    div
      p
        b Horaires
        br
        | Ven. 17 &agrave; 20h30
        br
        | Dim. 19 &agrave; 17h00
        br
        | Dim.
        |             19 &agrave; 20h00
        br
        | Lun. 20 &agrave; 20h00
      button Infos
    p
      | Melissa, 32 ans, surveillante p&eacute;nitentiaire exp&eacute;riment&eacute;e, s&rsquo;installe
      | en Corse avec ses deux jeunes enfants et son mari. L&rsquo;occasion d&rsquo;un
      | nouveau d&eacute;part. Elle int&egrave;gre les &eacute;quipes d&apos;un centre p&eacute;nitentiaire pas
      | tout &agrave; fait comme les autres. Ici, on dit que ce sont les prisonniers
      | qui surveillent les gardiens. L&rsquo;int&eacute;gration de Melissa est facilit&eacute;e
      | par Saveriu, un jeune d&eacute;tenu qui semble influent et la place sous sa
      | protection. Mais une fois lib&eacute;r&eacute;, Saveriu reprend contact avec
      | Melissa. Il a un service &agrave; lui demander&mldr; Une m&eacute;canique pernicieuse se
      | met en marche.
  section.evenement
    h2 &Eacute;v&eacute;nements
    div
      p &quot;LAND AND FREEDOM&quot;
      p
        strong le dimanche 26 MAI 2024 &agrave; 20h00
      p
        | FILMS 
        mark CIN&Eacute; M&Eacute;MOIRE
      p
        | Pr&eacute;sent&eacute; par 
        mark
          strong Fred Abrachkoff
    div
      hr
      hr
    div
      p
        | Des s&eacute;ances destin&eacute;es tout particuli&egrave;rement au 
        mark
          strong jeune public
          |  et 
          strong public adolescent
        |             ont &eacute;t&eacute; programm&eacute;es &agrave; 
        strong 17h jeudi 9, vendredi 10 et mercredi 22 mai
  section.PJ
    div
      a(href='res/affiche Mai 2024 V3.pdf' target='_blank')
        img(src='img/pdf_ico.webp' width='52' height='52')
        p
          | Affiche
          br
          | Mai 2024
    div
      a(href='res/8 pages Mai V3.pdf' target='_blank')
        img(src='img/pdf_ico.webp' width='52' height='52')
        p
          | Programme
          br
          | Mai 2024
  aside
    h2 Prochainement
    figure
      img(src='img/films/Borgo.webp' alt='Affiche du film Borgo' width='189' height='259')
