extends layout 

block content 
  section.coup-coeur
    h2 Coup de coeur du mois
    img(src="", alt="")
    div 
      p
        b Horaires
        br
        | Ven. 17 à 20h30
        br
        | Dim. 19 à 17h00
      //button Infos
    p#resume-coup-coeur Résumé du film
  
  section.evenement
    h2 Événements
    div
      p Ce site est un template
      p 
        strong basé sur le site du REX Chauvigny
      p mais sans le citer 
        mark et avec mon chat
    div
      hr
      hr
    div 
      p Des séances destinées tout particulièrement au 
        mark 
          strong jeune public 
          | et 
          strong public adolescent 
        | ont été programmées à 
        strong [insérer une date ici].
  
  section.PJ 
    div 
      a(href='res/notice.pdf', target="_blank")
        img(src="img/pdf_ico.webp", width="52", height="52")
        p Notice 
          br
          | du site
  
  aside#coming-soon
    h2 Prochainement
    figure
      img(src="", alt="")