extends layout 

block content
  section.info-pratique
    h3#association Notre association
    div
      p
        | Ici serait affiché une description du [Cinéma - Template]
        | A la place, voici une description template.
        | Je ne souhaite pas mettre de Lorem car c'est moyen beau.
        | Il s'agit donc de la description d'un cinéma réel pour lequel ce site 
        | est initialement destiné.
      p
        | Fort d&apos;une soixantaine de membres, nous assurons, dans nos 2 salles,
        | un minimum de 12 s&eacute;ances par semaine, en proposant un grand choix de
        | films afin de satisfaire un large public.
      p
        | Alors, si vous aimez le cin&eacute;ma, vous disposez d&rsquo;un peu de temps
        | libre et vous souhaitez vous engager dans une association, venez
        | rejoindre notre &eacute;quipe, nous serons heureux de vous accueillir.
      p
        | Pour cela vous pouvez, soit nous contacter sur notre Stand lors du
        | forum des associations au mois de septembre, soit, &agrave; tout moment de
        | l&rsquo;ann&eacute;e, vous pr&eacute;senter, une demi-heure avant le d&eacute;but des s&eacute;ances,
        | aux b&eacute;n&eacute;voles assurant la billetterie.
        br
        |             Vous pouvez &eacute;galement venir nous rencontrer lors de l&apos;Assembl&eacute;e
        |             G&eacute;n&eacute;rale qui a lieu habituellement courant mars dans l&apos;enceinte du
        |             cin&eacute;ma.
    .PJ.PJ--soft
      div
        a(href='res/PJ_test.pdf' target='_blank')
          img(src='img/pdf_ico.webp' width='52' height='52')
        p Charte Cin&eacute;ma
    h4 Comptes rendus - Assembl&eacute;e G&eacute;n&eacute;rale 2023
    .PJ.PJ--soft
      div
        a(href='res/PJ_test.pdf' target='_blank')
          img(src='img/pdf_ico.webp' width='52' height='52')
        p CR AG mai 2023
      div
        a(href='res/PJ_test.pdf' target='_blank')
          img(src='img/pdf_ico.webp' width='52' height='52')
        p Bilan financier
      div
        a(href='res/PJ_test.pdf' target='_blank')
          img(src='img/pdf_ico.webp' width='52' height='52')
        p
          | Rapport d&apos;activit&eacute;
          br
          | 2022
      div
        a(href='res/PJ_test.pdf' target='_blank')
          img(src='img/pdf_ico.webp' width='52' height='52')
        p
          | Rapport moral
          br
          | des copr&eacute;sidents
      div
        a(href='res/PJ_test.pdf' target='_blank')
          img(src='img/pdf_ico.webp' width='52' height='52')
        p
          | Rapport d&apos;activit&eacute;
          br
          | Animations 2022
      div
        a(href='res/PJ_test.pdf' target='_blank')
          img(src='img/pdf_ico.webp' width='52' height='52')
        p
          | Rapport d&apos;activit&eacute;
          br
          | Communication 2022
      div
        a(href='res/PJ_test.pdf' target='_blank')
          img(src='img/pdf_ico.webp' width='52' height='52')
        p
          | Rapport d&apos;activit&eacute;
          br
          | Projets
  section.info-pratique
    h3#tarifs Nos tarifs
    p
      b
        | Plein tarif: 6,5 euros
        br
        |             Tarif adh&eacute;rents: 4,5 euros
        br
        |             Tarif moins de 16 ans : 4 euros
        br
        |             Tarif lundi journ&eacute;e et jeudi 20h30: 4,5 euros
        br
        |             Tarif lundi s&eacute;ance de 20h uniquement: 3,5 euros
    h4 Carte adh&eacute;rents
    p
      | Ces cartes sont individuelles et valables un an de septembre &agrave; ao&ucirc;t,
      | vendues au prix de 10 euros, elles sont d&eacute;livr&eacute;es, lors de la journ&eacute;e
      | des associations sur le stand du cin&eacute;ma et le reste de l&apos;ann&eacute;e, sur
      | simple demande, au guichet du cin&eacute;ma, aux heures normales d&apos;ouverture.
    p
      | Elles vous permettent de b&eacute;n&eacute;ficier d&apos;un tarif r&eacute;duit &agrave; 4,5 euros pour
      | toutes les s&eacute;ances et de recevoir le programme chaque mois a votre
      | domicile.
    p
      | Nous comptons sur votre adh&eacute;sion pour soutenir votre cin&eacute;ma et le
      | travail de ses b&eacute;n&eacute;voles.
    h4 Cin&eacute; Jeunesse
    p
      | Pour cette op&eacute;ration destin&eacute;e &agrave; faire conna&icirc;tre le cin&eacute;ma aux jeunes
      | enfants.
    p Un tarif unique pour tous : 4 euros (sauf pr&eacute;cision contraire)
    h4 Projections priv&eacute;es
    p
      | Le cin&eacute;ma de Chauvigny peut r&eacute;aliser des projections cibl&eacute;es &agrave;
      | l&apos;occasion de manifestations ou d&apos;&eacute;v&eacute;nements organis&eacute;s par des
      | associations, entreprises ou organismes (arbres de No&euml;l, f&ecirc;tes etc...)
      | Pour tout renseignement 
      u s&apos;adresser au cin&eacute;ma
      |  au minimum deux
      |           mois &agrave; l&apos;avance.
  section.info-pratique
    h3#equipements Nos salles et nos &eacute;quipements
    p
      u
        b Le Rex est &eacute;quip&eacute; de 2 salles de cin&eacute;ma :
    p
      b
        | La salle 1, au rez de chauss&eacute;, dispose de 154 places. Son &eacute;quipement
        | se compose de :
    ul
      li Un projecteur num&eacute;rique 2K 2D
      li Une sonorisation en 5.1
      li Un disposititf d&apos;aide au mal-entendants
    p
      u
        b Elle est accessible aux personnes &agrave; mobilit&eacute; r&eacute;duite
    p
      b
        | La salle 2, au 1er &eacute;tage, dispose de 62 places. Son &eacute;quipement se
        | compose de :
    ul
      li Un projecteur num&eacute;rique 2K 2D
      li Une sonorisation en 5.1
      li Un disposititf d&apos;aide au mal-entendants
  section.info-pratique
    h3#contact Contact
    p
      u Même si on a compris de quel cinéma
      br
      | il s'agit...
      br
      | rue xxxx
      br
      | BPYY
      br
      | Code postal
      |           Ville
    p
      b Mail : mail@mail.com
    //button Nous contacter
  section.info-pratique.info-pratique--large.info-pratique--situer
    h3#situer Nous situer
    div
      p
        u Cin&eacute;ma Le Rex
      p Adresse
      p Tel 00 00 00 00 00
    div
      img(src='img/vue_exterieur.jpg' alt='Vue extérieure du cinéma' width='288' height='265')
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5248.70581390598!2d2.345111676872364!3d48.870548599850416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e166def304f%3A0xaf97ab633669d0a2!2sLe%20Grand%20Rex!5e0!3m2!1sfr!2sfr!4v1734557663873!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
        p
          | Votre navigateur ne supporte pas ce plugin. Lien Google Maps :
          a(href='https://maps.app.goo.gl/p6aP2xobUR9DFygw9') https://maps.app.goo.gl/p6aP2xobUR9DFygw9
  section.info-pratique.info-pratique--large
    h3#partenaires Nos partenaires
    div
      img(src='img/obfuscat.png' alt='Logo du partenaire : Noé le chat' width='219' height='100')
      img(src='img/obfuscat.png' alt='Logo du partenaire : Noé le chat' width='179' height='79')
      img(src='img/obfuscat.png' alt='Logo du partenaire : Noé le chat' width='250' height='75')
      img(src='img/obfuscat.png' alt='Logo du partenaire : Noé le chat' width='250' height='65')
      img(src='img/obfuscat.png' alt='Logo du partenaire : Noé le chat' width='80' height='100')
      img(src='img/obfuscat.png' alt='Logo du partenaire : Noé le chat' width='100' height='100')
      img(src='img/obfuscat.png' alt='Logo du partenaire : Noé le chat' width='100' height='100')
      img(src='img/obfuscat.png' alt='Logo du partenaire : Noé le chat' width='160' height='100')
      img(src='img/obfuscat.png' alt='Logo du partenaire : Noé le chat' width='181' height='100')
      img(src='img/obfuscat.png' alt='Logo du partenaire : Noé le chat' width='250' height='55')
      img(src='img/obfuscat.png' alt='Logo du partenaire : Noé le chat' width='165' height='100')
      img(src='img/obfuscat.png' alt='Logo du partenaire : Noé le chat' width='214' height='100')
      img(src='img/obfuscat.png' alt='Logo du partenaire : Noé le chat' width='100' height='100')
  p.top-page
    a(href='#top-page') &#x2C4;