extends layout 

block content
  section.info-pratique
    h3#association Notre association
    div
      p
        | Le REX de chauvigny est un cin&eacute;ma d&rsquo;Art et Essai exclusivement
        | associatif. La gestion et le fonctionnement de celui-ci, ne sont
        | assur&eacute;s que par des b&eacute;n&eacute;voles.
      p
        | Fort d&apos;une soixantaine de membres, nous assurons, dans nos 2 salles,
        | un minimum de 12 s&eacute;ances par semaine, en proposant un grand choix de
        | films afin de satisfaire un large public.
      p
        | Alors, si vous aimez le cin&eacute;ma, vous disposez d&rsquo;un peu de temps
        | libre et vous souhaitez vous engager dans une association, venez
        | rejoindre notre &eacute;quipe, nous serons heureux de vous accueillir.
      p
        | Pour cela vous pouvez, soit nous contacter sur notre Stand lors du
        | forum des associations au mois de septembre, soit, &agrave; tout moment de
        | l&rsquo;ann&eacute;e, vous pr&eacute;senter, une demi-heure avant le d&eacute;but des s&eacute;ances,
        | aux b&eacute;n&eacute;voles assurant la billetterie.
        br
        |             Vous pouvez &eacute;galement venir nous rencontrer lors de l&apos;Assembl&eacute;e
        |             G&eacute;n&eacute;rale qui a lieu habituellement courant mars dans l&apos;enceinte du
        |             cin&eacute;ma.
    .PJ.PJ--soft
      div
        a(href='res/Charte Chauvigny Cinéma 4-07-14.doc.pdf' target='_blank')
          img(src='img/pdf_ico.webp' width='52' height='52')
        p Charte Chauvigny Cin&eacute;ma
    h4 Comptes rendus - Assembl&eacute;e G&eacute;n&eacute;rale 2023
    .PJ.PJ--soft
      div
        a(href='res/CR AG 2 mai 2023.pdf' target='_blank')
          img(src='img/pdf_ico.webp' width='52' height='52')
        p CR AG mai 2023
      div
        a(href='res/001-BILAN IMAGE 2022 CHAUVIGNY CINEMA.pdf' target='_blank')
          img(src='img/pdf_ico.webp' width='52' height='52')
        p Bilan financier
      div
        a(href="res/Rapport d'activité 2022 AG 2 mai 2023 .pdf" target='_blank')
          img(src='img/pdf_ico.webp' width='52' height='52')
        p
          | Rapport d&apos;activit&eacute;
          br
          | 2022
      div
        a(href='res/Rapport moral AG 2022 V3.pdf' target='_blank')
          img(src='img/pdf_ico.webp' width='52' height='52')
        p
          | Rapport moral
          br
          | des copr&eacute;sidents
      div
        a(href="res/Rapport d'activité - animations 2022.pdf" target='_blank')
          img(src='img/pdf_ico.webp' width='52' height='52')
        p
          | Rapport d&apos;activit&eacute;
          br
          | Animations 2022
      div
        a(href="res/Rapport d'activité - Communication 2022.pdf" target='_blank')
          img(src='img/pdf_ico.webp' width='52' height='52')
        p
          | Rapport d&apos;activit&eacute;
          br
          | Communication 2022
      div
        a(href='res/AG Rex 2 05 2023 Projets.pdf' target='_blank')
          img(src='img/pdf_ico.webp' width='52' height='52')
        p
          | Rapport d&apos;activit&eacute;
          br
          | Projets
  section.info-pratique
    h3#tarifs Nos tarifs
    p
      b
        | Plein tarif: 6,5 euros
        br
        |             Tarif adh&eacute;rents: 4,5 euros
        br
        |             Tarif moins de 16 ans : 4 euros
        br
        |             Tarif lundi journ&eacute;e et jeudi 20h30: 4,5 euros
        br
        |             Tarif lundi s&eacute;ance de 20h uniquement: 3,5 euros
    h4 Carte adh&eacute;rents
    p
      | Ces cartes sont individuelles et valables un an de septembre &agrave; ao&ucirc;t,
      | vendues au prix de 10 euros, elles sont d&eacute;livr&eacute;es, lors de la journ&eacute;e
      | des associations sur le stand du cin&eacute;ma et le reste de l&apos;ann&eacute;e, sur
      | simple demande, au guichet du cin&eacute;ma, aux heures normales d&apos;ouverture.
    p
      | Elles vous permettent de b&eacute;n&eacute;ficier d&apos;un tarif r&eacute;duit &agrave; 4,5 euros pour
      | toutes les s&eacute;ances et de recevoir le programme chaque mois a votre
      | domicile.
    p
      | Nous comptons sur votre adh&eacute;sion pour soutenir votre cin&eacute;ma et le
      | travail de ses b&eacute;n&eacute;voles.
    h4 Cin&eacute; Jeunesse
    p
      | Pour cette op&eacute;ration destin&eacute;e &agrave; faire conna&icirc;tre le cin&eacute;ma aux jeunes
      | enfants.
    p Un tarif unique pour tous : 4 euros (sauf pr&eacute;cision contraire)
    h4 Projections priv&eacute;es
    p
      | Le cin&eacute;ma de Chauvigny peut r&eacute;aliser des projections cibl&eacute;es &agrave;
      | l&apos;occasion de manifestations ou d&apos;&eacute;v&eacute;nements organis&eacute;s par des
      | associations, entreprises ou organismes (arbres de No&euml;l, f&ecirc;tes etc...)
      | Pour tout renseignement 
      u s&apos;adresser au cin&eacute;ma
      |  au minimum deux
      |           mois &agrave; l&apos;avance.
  section.info-pratique
    h3#equipements Nos salles et nos &eacute;quipements
    p
      u
        b Le Rex est &eacute;quip&eacute; de 2 salles de cin&eacute;ma :
    p
      b
        | La salle 1, au rez de chauss&eacute;, dispose de 154 places. Son &eacute;quipement
        | se compose de :
    ul
      li Un projecteur num&eacute;rique 2K 2D
      li Une sonorisation en 5.1
      li Un disposititf d&apos;aide au mal-entendants
    p
      u
        b Elle est accessible aux personnes &agrave; mobilit&eacute; r&eacute;duite
    p
      b
        | La salle 2, au 1er &eacute;tage, dispose de 62 places. Son &eacute;quipement se
        | compose de :
    ul
      li Un projecteur num&eacute;rique 2K 2D
      li Une sonorisation en 5.1
      li Un disposititf d&apos;aide au mal-entendants
  section.info-pratique
    h3#contact Contact
    p
      u Le Rex
      br
      | Cin&eacute;ma de chauvigny
      br
      | 10 r St Savin
      br
      | BP50
      br
      | 86300
      |           Chauvigny
    p
      b Mel : rex@chauvignycinema.com
    button Nous contacter
  section.info-pratique.info-pratique--large.info-pratique--situer
    h3#situer Nous situer
    div
      p
        u Cin&eacute;ma Le Rex
      p 10 r St Savin, Bp 50, 86300 CHAUVIGNY
      p Tel 05 49 47 86 57
    div
      img(src='img/REX-vue_exterieur.webp' alt='Vue extérieure du cinéma Le REX - Chauvigny' width='288' height='265')
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9226.204930319607!2d0.6424252302666469!3d46.56811295791813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47fc4b3965278f07%3A0x46f53403cde1a949!2sLe%20Rex!5e0!3m2!1sfr!2sfr!4v1714985864130!5m2!1sfr!2sfr' width='800' height='450' style='border: 0' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
        p
          | Votre navigateur ne supporte pas ce plugin. Lien Google Maps :
          a(href='https://maps.app.goo.gl/bFKQe67njvR83s2o8') https://maps.app.goo.gl/bFKQe67njvR83s2o8
  section.info-pratique.info-pratique--large
    h3#partenaires Nos partenaires
    div
      img(src='img/partenaires/extra-court.webp' alt="Logo du partenaire : L'extra-court" width='219' height='100')
      img(src='img/partenaires/Agence-court-metrage.webp' alt="Logo du partenaire : L'agence du court métrage" width='179' height='79')
      img(src='img/partenaires/Cina.webp' alt='Logo du partenaire : CINA - Cinémas Indépendants de Nouvelle-Aquitaine' width='250' height='75')
      img(src='img/partenaires/cnc.webp' alt="Logo du partenaire : CNC - Centre National du Cinéma et de l'image animée" width='250' height='65')
      img(src='img/partenaires/cae.webp' alt='Logo du partenaire : CAE' width='80' height='100')
      img(src='img/partenaires/adrc.webp' alt="Logo du partenaire : L'ADRC" width='100' height='100')
      img(src='img/partenaires/Ampar.webp' alt='Logo du partenaire : AMPAR' width='100' height='100')
      img(src='img/partenaires/loup-zozote.webp' alt='Logo du partenaire : Le Loup qui Zozote' width='160' height='100')
      img(src='img/partenaires/Radio-des-choucas.webp' alt='Logo du partenaire : Radio Echo des Choucas' width='181' height='100')
      img(src='img/partenaires/chauvigny.webp' alt='Logo du partenaire : Chauvigny' width='250' height='55')
      img(src='img/partenaires/nouvelle-aquitaine.webp' alt='Logo du partenaire : Région Nouvelle-Aquitaine' width='165' height='100')
      img(src='img/partenaires/allocine.webp' alt='Logo du partenaire : AlloCiné' width='214' height='100')
      img(src='img/partenaires/youtube.webp' alt='Logo du partenaire : Youtube' width='100' height='100')
  p.top-page
    a(href='#top-page') &#x2C4;