extends layout 

block content
  section.alaffiche
    article
      h2 Semaine du 1er au 7 mai
      .affiche-jeunesse
        div
          img(src='img/films/Riddle of Fire.webp' alt='Affiche du film Riddle of Fire' width='150' height='206')
          p Jeudi 9 &agrave; 17h
          p Vendredi 10 &agrave; 17h
          p Dimanche 12 &agrave; 17h
        img(src='img/prog-jeunesse.webp' alt='Programme jeunesse' width='182' height='104')
        div
          img(src="img/films/Non-Non dans l'espace.webp" alt="Affiche du film Non-Non dans l'espace" width='150' height='206')
          p Jeudi 9 &agrave; 17h
          p Vendredi 10 &agrave; 17h
    article
      h2 Semaine du 8 au 14 mai
      .affiche-jeunesse
        div
          img(src="img/films/Les Aventuriers de l'arche.webp" alt="Affiche du film Les Aventuriers de l'arche" width='143' height='196')
          p Mercredi 22 &agrave; 17h
        img(src='img/prog-jeunesse.webp' alt='Programme jeunesse' width='182' height='104')
        div
          img(src='img/films/Les Toutes Petites Créatures.webp' alt="Affiche du film Non-Non dans l'espace" width='143' height='196')
          p.rainbow A partir de 3 ans
          p Mercredi 22 &agrave; 17h
