doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    //- base(href='http://localhost:3000/')
    title Le REX - Chauvigny
    // Fonts
    // Les rappels Google sont dans _base.scss
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Suez+One&display=swap' rel='stylesheet')
    // CSS and scripts
    link(rel='stylesheet' href='/styles/reset.css')
    link(rel='stylesheet' href='/styles/styles.css')
    script(src='/scripts/index.js' defer='')
    if scripts
      for scr in scripts 
        script(src='/scripts/' + scr + ".js" defer='')
  
  body(class=`${(theme ? theme : "theme-cinema")} ${layout}`)
    header#top-page
      img(src='/img/REX-Logo.webp' alt='Logo du cinéma Le REX - Chauvigny' width='188' height='188')
      h1 Le REX - Chauvigny
      div
        a#auth-link(href='/auth') Connexion
        a(href='https://www.facebook.com/CinemaChauvigny/' target='_blank')
        img.NO-CAT(src='/img/Logo-facebook.webp' alt='Lien vers la page facebook' width='49' height='49')
        p
          | 10 rue St Savin, BP 50
          br
          | 86300 CHAUVIGNY
    nav
      ul
        li
          a(href='/') Accueil
        li
          a(href='/planning') A l&apos;affiche
        li.unfold
          button +
          a Prochainement
          ul.dropdown#next-weeks-list
            li
              a(href='/planning#affiche-s+1') Semaine +1
            li
              a(href='/planning#affiche-s+2') Semaine +2
            li
              a(href='/planning#affiche-s+3') Semaine +3
        li
          a(href='/children') Jeune public
        li.unfold
          button +
          a(href='/info-pratique') Infos pratiques
          ul.dropdown
            li
              a(href='/info-pratique#association') Notre association
            li
              a(href='/info-pratique#tarifs') Tarifs
            li
              a(href='/info-pratique#equipements') Nos installations
            li
              a(href='/info-pratique#contact') Contacts
            li
              a(href='/info-pratique#situer') Nous situer
            li
              a(href='/info-pratique#partenaires') Nos partenaires
    button#burger-menu
      span
    
    main
      aside
        h2 Infos
        figure
          img.logo(src='/img/REX-Logo.webp' alt='Logo du cinéma Le REX - Chauvigny' width='188' height='188')
          img(src='/img/REX-vue_exterieur.webp' alt='Vue extérieure du cinéma Le REX - Chauvigny' width='288' height='265')
        figure
          img(src='/img/REX-vue_interieure_hall.webp' alt='Hall du cinéma Le REX - Chauvigny' width='363' height='240')
          img(src='/img/REX-vue_interieure_hall2.webp' alt='Hall du cinéma Le REX - Chauvigny' width='363' height='273')
          figcaption Hall
        figure
          img(src='/img/REX-salle1.webp' alt='Salle 1 du cinéma Le REX - Chauvigny' width='363' height='273')
          figcaption
          | Salle 1 - 154 places
          br
          mark Accessible aux personnes &agrave; mobilit&eacute; r&eacute;duite
        figure
          img(src='/img/REX-salle2.webp' alt='Salle 2 du cinéma Le REX - Chauvigny' width='363' height='258')
          figcaption Salle 2 - 62 places

      block content