extends layout 

block content 
  form#login-form.auth-form
    label(for= "login-input") Login: 
    input#login-input(type='text' name='login')
    label(for= "password-input") Password: 
    input#password-input(type="password" name='password')
    button(type='submit') Log in
  
    label#error-message