extends layout 

block content
  script(src="/scripts/movie_form.js", defer="")

  form#movie-form.page-form(action='/movies/form', method='POST')
    input#query-input(type='text' placeholder='Recherche de films par mots-clés')
    .search-nav-ctrl
      button#previous-result-btn(type='button' disabled) <
      button#search-movie-btn(type='button') Rechercher
      button#next-result-btn(type='button' disabled) >
    .alaffiche.hidden
    input#movie-tmdb-id(type='hidden' name='movie_tmdb_id')
    .block-form#session-block
      h3 Séances
      a.link-btn(href='#session-popup') +
      .current-selection-list
    input#sessions-hid(type='hidden' name='sessions')
    .block-form
      fieldset#tags-select 
        legend Séance spéciale
        each tag, index in tags
          div 
            input(type='checkbox' id="tag-" + index name = "tag_" + index)
            label(for="tag-" + index) #{tag}
    button#save-btn(type='submit') Enregistrer

  .popup#session-popup
    form
      a(href='#') &times;
      label(for='session-date') Date :
      input#session-date(type='date') 
      label(for='session-time') Heure :
      input#session-time(type='time' value='20:30')
      label(for='session-room') Salle :
      input#session-room(type='number' min='1' max='2' value='1')
      select#session-version
        option(value="") -- Choisir une version (facultatif) --
        each version in versions 
          option(value=version) #{version}
      button#session-form-btn(type='button') Ajouter
