extends layout 

block content 
  section#affiche.alaffiche
    h2 Semaine du 25 au 29 avril
    article
      h3 Bis Repetita
      .affiche-principal
        img(src='img/films/Bis Repetita.webp' alt='Affiche du film Bis Repetita' width='151' height='207')
        div
          p
            | R&eacute;alis&eacute; par 
            u &Eacute;milie Noblet
          p Avis - Nb d&apos;&eacute;toiles
        p
          | Avec 
          u Louise Bourgoin
          | , 
          u Xavier Lacaille
          | ,
          u No&eacute;mie Lvovsky
          br
          |               Dur&eacute;e : 
          b 1h26
          |  - Genre : 
          u Com&eacute;die
          br
          |               Nationalit&eacute; : 
          u France
          | , 
          u Italie
          br
          |               Langue : 
          b Fran&ccedil;ais
          br
          | Sortie nationale :
          b 20 mars 2024
        p.affiche-principal-p--spec
          | &quot;prix coup de coeur&quot;, festival
          u Film de Com&eacute;die de l&apos;Alpe d&apos;Huez
          |               (2024)
        p.affiche-principal-p--short
          | La s&eacute;ance d&eacute;butera par un court m&eacute;trage :
          b
            u Aaaah !
            |  (5&apos;)
        div
          button Infos
          button Bande annonce
      h4 Synopsis
      p
        | Delphine, prof de lettres d&eacute;sabus&eacute;e, a un deal bien r&ocirc;d&eacute; avec ses
        | &eacute;l&egrave;ves : ils lui fichent une paix royale, elle leur distribue des
        | 19/20. Mais la combine se retourne contre elle quand ses excellents
        | r&eacute;sultats (fictifs) propulsent sa classe au championnat du monde de
        | latin, &agrave; Naples. Comble du cauchemar, c&apos;est le neveu tr&egrave;s z&eacute;l&eacute; de la
        | Proviseure qui est choisi comme accompagnateur. Pour sauver l&rsquo;option
        | latin, et surtout sa situation confortable, Delphine ne voit qu&rsquo;une
        | solution : tricher !
      .affiche-horaires
        h4.WRAPPED Horaires
        div
          p Salle 1
          p Salle 2
      table
        thead
          th Mercredi
          th Jeudi
          th Vendredi
          th Samedi
          th Dimanche
          th Lundi
          th Mardi
        tbody
          tr
            td -
            td -
            td.horaire-s1 20h30
            td.horaire-s1 20h30
            td.horaire-s2 17h00
            td.horaire-s1 20h00
            td -
          tr
            td -
            td -
            td -
            td -
            td -
            td -
            td -
    article
      h3 Amal - Un esprit libre
      .affiche-principal
        img(src='img/films/Amal - Un esprit libre.webp' alt='Affiche du film Amal - Un esprit libre' width='189' height='259')
        div
          p
            | R&eacute;alis&eacute; par 
            u Jawad Rhalib
          p Avis - Nb d&apos;&eacute;toiles
        p
          | Avec 
          u Lubna Azabal
          | , 
          u Fabrizio Rongione
          | ,
          u Catherine Sal&eacute;e
          br
          |               Dur&eacute;e : 
          b 1h51
          |  - Genre : 
          u Drame
          br
          |               Nationalit&eacute; : 
          u Belgique
          br
          |               Langue : 
          b Arabe
          br
          | Sortie nationale :
          b 17 avril 2024
        p.affiche-principal-p--warning
          | Tout public avec avertissement
        p.affiche-principal-p--short
          | La s&eacute;ance d&eacute;butera par un court m&eacute;trage :
          b
            u Toutes les autres
            |  (7&apos;)
        div
          button Infos
          button Bande annonce
      h4 Synopsis
      p
        | Amal, enseignante dans un lyc&eacute;e &agrave; Bruxelles, encourage ses &eacute;l&egrave;ves &agrave;
        | s&rsquo;exprimer librement. Avec ses m&eacute;thodes p&eacute;dagogiques audacieuses et
        | son enthousiasme, elle va bouleverser leur vie. Jusqu&rsquo;&agrave; en choquer
        | certains. Peu &agrave; peu Amal va se sentir harcel&eacute;e, menac&eacute;e.
      .affiche-horaires
        h4.WRAPPED Horaires
        div
          p Salle 1
          p Salle 2
      table
        thead
          th Mercredi
          th Jeudi
          th Vendredi
          th Samedi
          th Dimanche
          th Lundi
          th Mardi
        tbody
          tr
            td -
            td -
            td -
            td.horaire-s2 20h30
            td.horaire-s2 17h00
            td.horaire-s2 20h00
            td -
          tr
            td -
            td -
            td -
            td -
            td -
            td -
            td -
  p.top-page
    a(href='#top-page') &#x2C4;
  section.alaffiche(id='affiche-s+1')
    h2 Semaine du 1er au 7 mai
    article.affiche--coupcoeur
      h3 Borgo
      .affiche-principal
        img(src='img/films/Borgo.webp' alt='Affiche du film Borgo' width='189' height='259')
        div
          p
            | R&eacute;alis&eacute; par 
            u St&eacute;phane Demoustier
          p Avis - Nb d&apos;&eacute;toiles
        p
          | Avec 
          u Hafsia Herzi
          | , 
          u Moussa Mansaly
          | , 
          u Louis Memmi
          br
          |               Dur&eacute;e : 
          b 1h58
          |  - Genre : 
          u Drame
          br
          |               Nationalit&eacute; : 
          u France
          br
          |               Langue : 
          b Fran&ccedil;ais
          br
          | Sortie nationale :
          b 17 avril 2024
        p.affiche-principal-p--short
          | La s&eacute;ance d&eacute;butera par un court m&eacute;trage :
          b
            u Pixels
            |  (2&apos;)
        div
          button Infos
          button Bande annonce
      h4 Synopsis
      p
        | Melissa, 32 ans, surveillante p&eacute;nitentiaire exp&eacute;riment&eacute;e, s&rsquo;installe
        | en Corse avec ses deux jeunes enfants et son mari. L&rsquo;occasion d&rsquo;un
        | nouveau d&eacute;part. Elle int&egrave;gre les &eacute;quipes d&apos;un centre p&eacute;nitentiaire
        | pas tout &agrave; fait comme les autres. Ici, on dit que ce sont les
        | prisonniers qui surveillent les gardiens. L&rsquo;int&eacute;gration de Melissa
        | est facilit&eacute;e par Saveriu, un jeune d&eacute;tenu qui semble influent et la
        | place sous sa protection. Mais une fois lib&eacute;r&eacute;, Saveriu reprend
        | contact avec Melissa. Il a un service &agrave; lui demander&mldr; Une m&eacute;canique
        | pernicieuse se met en marche.
      .affiche-horaires
        h4.WRAPPED Horaires
        div
          p Salle 1
          p Salle 2
      table
        thead
          th Mercredi
          th Jeudi
          th Vendredi
          th Samedi
          th Dimanche
          th Lundi
          th Mardi
        tbody
          tr
            td -
            td -
            td.horaire-s2 20h30
            td -
            td.horaire-s2 17h00
            td.horaire-s2 20h00
            td -
          tr
            td -
            td -
            td -
            td -
            td.horaire-s1 20h00
            td -
            td -
    article
      h3 La promesse verte
      .affiche-principal
        img(src='img/films/promesse verte.webp' alt='Affiche du film La promesse verte' width='189' height='259')
        div
          p
            | R&eacute;alis&eacute; par 
            u Edouard Bergeon
          p Avis - Nb d&apos;&eacute;toiles
        p
          | Avec 
          u Alexandra Lamy
          | , 
          u F&eacute;lix Moati
          | ,
          u Sofian Khammes
          br
          |               Dur&eacute;e : 
          b 2h04
          |  - Genre : 
          u Drame
          br
          |               Nationalit&eacute; : 
          u France
          | , 
          u Belgique
          br
          |               Langue : 
          b Fran&ccedil;ais
          br
          | Sortie nationale :
          b 27 mars 2024
        div
          button Infos
          button Bande annonce
      h4 Synopsis
      p
        | Pour tenter de sauver son fils Martin injustement condamn&eacute; &agrave; mort en
        | Indon&eacute;sie, Carole se lance dans un combat in&eacute;gal contre les
        | exploitants d&rsquo;huile de palme responsables de la d&eacute;forestation et
        | contre les puissants lobbies industriels.
      .affiche-horaires
        h4.WRAPPED Horaires
        div
          p Salle 1
          p Salle 2
      table
        thead
          th Mercredi
          th Jeudi
          th Vendredi
          th Samedi
          th Dimanche
          th Lundi
          th Mardi
        tbody
          tr
            td -
            td -
            td.horaire-s1 20h30
            td.horaire-s1 20h30
            td.horaire-s1 17h00
            td.horaire-s1 20h00
            td -
          tr
            td -
            td -
            td -
            td -
            td -
            td -
            td -
  p.top-page
    a(href='#top-page') &#x2C4;
  section.alaffiche(id='affiche-s+2')
    h2 Semaine du 8 au 14 mai
    article
      div
        h3 Quitter la nuit
      .affiche-principal
        img(src='img/films/Quitter la nuit.webp' alt='Affiche du film Quitter la nuit' width='150' height='206')
        div
          p
            | R&eacute;alis&eacute; par 
            u Delphine Girard
          p Avis - Nb d&apos;&eacute;toiles
        p
          | Avec 
          u Selma Alaoui
          | , 
          u Veerle Baetens
          | ,
          u Guillaume Duhesme
          br
          |               Dur&eacute;e : 
          b 1h48
          |  - Genre : 
          u Drame
          br
          |               Nationalit&eacute; : 
          u Canada
          | , 
          u Belgique
          | , 
          u France
          br
          |               Langue : 
          b Fran&ccedil;ais
          br
          | Sortie nationale :
          b 10 avril 2024
        p.affiche-principal-p--short
          | La s&eacute;ance d&eacute;butera par un court m&eacute;trage :
          b
            u Bergie
            |  (5&apos;)
        div
          button Infos
          button Bande annonce
      h4 Synopsis
      p
        | Une nuit, une femme en danger appelle la police. Anna prend l&apos;appel.
        | Un homme est arr&ecirc;t&eacute;. Les semaines passent, la justice cherche des
        | preuves, Aly, Anna et Dary font face aux &eacute;chos de cette nuit qu&apos;ils
        | ne parviennent pas &agrave; quitter.
      .affiche-horaires
        h4.WRAPPED Horaires
        div
          p Salle 1
          p Salle 2
      table
        thead
          th Mercredi
          th Jeudi
          th Vendredi
          th Samedi
          th Dimanche
          th Lundi
          th Mardi
        tbody
          tr
            td -
            td.horaire-s1 20h30
            td -
            td -
            td.horaire-s2 17h00
            td.horaire-s2 20h00
            td -
          tr
            td -
            td -
            td -
            td -
            td.horaire-s2 20h00
            td -
            td -
    article.affiche--coupcoeur.affiche--vost
      h3 Le Mal n&apos;existe pas
      .affiche-principal
        img(src="img/films/Le Mal n'existe pas.webp" alt="Affiche du film Le Mal n'existe pas" width='150' height='206')
        div
          p
            | R&eacute;alis&eacute; par 
            u Ry&umacr;suke Hamaguchi
          p Avis - Nb d&apos;&eacute;toiles
        p
          | Avec 
          u Hitoshi Omika
          | , 
          u Ryo Nishikawa
          | ,
          u Ry&ucirc;ji Kosaka
          br
          |               Dur&eacute;e : 
          b 1h46
          |  - Genre : 
          u Drame
          br
          |               Nationalit&eacute; : 
          u Japon
          br
          |               Langue : 
          b Japonais
          br
          | Sortie nationale :
          b 10 avril 2024
        p.affiche-principal-p--spec
          | Lion d&apos;Argent - Grand Prix du Jury (
          u Mostra de Venise 2023
          | )
        p.affiche-principal-p--short
          | La s&eacute;ance d&eacute;butera par un court m&eacute;trage :
          b
            u PLSTC
            |  (2&apos;)
        div
          button Infos
          button Bande annonce
      h4 Synopsis
      p
        | Takumi et sa fille Hana vivent dans le village de Mizubiki, pr&egrave;s de
        | Tokyo. Comme leurs a&icirc;n&eacute;s avant eux, ils m&egrave;nent une vie modeste en
        | harmonie avec leur environnement. Le projet de construction d&rsquo;un &laquo;
        | camping glamour &raquo; dans le parc naturel voisin, offrant aux citadins
        | une &eacute;chappatoire tout confort vers la nature, va mettre en danger
        | l&rsquo;&eacute;quilibre &eacute;cologique du site et affecter profond&eacute;ment la vie de
        | Takumi et des villageois...
      .affiche-horaires
        h4.WRAPPED Horaires
        div
          p Salle 1
          p Salle 2
      table
        thead
          th Mercredi
          th Jeudi
          th Vendredi
          th Samedi
          th Dimanche
          th Lundi
          th Mardi
        tbody
          tr
            td -
            td -
            td.horaire-s2 20h30
            td.horaire-s2 20h30
            td.horaire-s1 20h00
            td -
            td -
          tr
            td -
            td -
            td -
            td -
            td -
            td -
            td -
    article
      div
        h3 Riddle of Fire
      .affiche-principal
        img(src='img/films/Riddle of Fire.webp' alt='Affiche du film Riddle of Fire' width='150' height='206')
        div
          p
            | R&eacute;alis&eacute; par 
            u Weston Razooli
          p Avis - Nb d&apos;&eacute;toiles
        p
          | Avec 
          u Lio Tipton
          | , 
          u Charles Halford
          | ,
          u Weston Razooli
          br
          |               Dur&eacute;e : 
          b 1h54
          |  - Genre : 
          u Action
          | , 
          u Aventure
          | ,
          u Com&eacute;die
          br
          |               Nationalit&eacute; : 
          u U.S.A.
          br
          |               Langue : 
          b Anglais
          br
          | Sortie nationale :
          b 17 avril 2024
        div
          button Infos
          img(src='img/prog-jeunesse.webp' alt='Programme jeunesse' width='182' height='104')
          button Bande annonce
      h4 Synopsis
      p
        | Il &eacute;tait une fois un trio d&rsquo;enfants cherchant &agrave; craquer le code
        | parental de leur nouvelle console et aussi la parfaite recette de la
        | blueberry pie, une secte de braconniers qui ne cessent de se
        | chicaner, une petite fille qui a des dons elfiques&mldr; Un premier long
        | m&eacute;trage dont le budget est aussi lilliputien que sont g&eacute;antes sa
        | sophistication formelle et sa libert&eacute; &eacute;pique. Comme si, dans une
        | for&ecirc;t enchant&eacute;e du Wyoming, Tom Sawyer, le Club des cinq et les
        | Goonies s&rsquo;&eacute;taient donn&eacute; rendez-vous pour faire un jeu de plateau
        | autour d&rsquo;un feu de camp
      .affiche-horaires
        h4.WRAPPED Horaires
        div
          p Salle 1
          p Salle 2
      table
        thead
          th Mercredi
          th Jeudi
          th Vendredi
          th Samedi
          th Dimanche
          th Lundi
          th Mardi
        tbody
          tr
            td -
            td.horaire-s1 17h00
            td.horaire-s1 17h00
            td -
            td.horaire-s1 17h00
            td -
            td -
          tr
            td -
            td -
            td -
            td -
            td -
            td -
            td -
    article
      div
        h3 Non-Non dans l&apos;espace
      .affiche-principal
        img(src="img/films/Non-Non dans l'espace.webp" alt="Affiche du film Non-Non dans l'espace" width='150' height='206')
        div
          p
            | R&eacute;alis&eacute; par 
            u Wassim Boutaleb Joutei
          p Avis - Nb d&apos;&eacute;toiles
        p
          | Dur&eacute;e : 
          b 0h52
          |  - Genre : 
          u Animation
          | ,
          u Famille
          | ,
          br
          |               Nationalit&eacute; : 
          u Belgique
          | , 
          u France
          br
          |               Langue : 
          b Fran&ccedil;ais
          br
          | Sortie nationale :
          b 3 avril 2024
        div
          button Infos
          img(src='img/prog-jeunesse.webp' alt='Programme jeunesse' width='182' height='104')
          button Bande annonce
      h4 Synopsis
      p
        b
          u Programme de deux courts m&eacute;trages :
        br
        u - Non-Non r&eacute;tr&eacute;cit (2019, 26&apos;) :
        br
        |             Pauvre Non-Non ! Il pensait que cette journ&eacute;e allait &ecirc;tre comme
        |             toutes les autres, avec un bon pique-nique et une grosse sieste dans
        |             sa chaise longue si confortable&mldr; Mais tout bascule &agrave; cause d&rsquo;un coup
        |             de vent et d&rsquo;un paquet de chips coinc&eacute; dans un arbre immense.
        |             Grocroc sort la grosse artillerie : une machine &agrave; r&eacute;tr&eacute;cir. Et c&rsquo;est
        |             alors que Non-Non passe malencontreusement devant le rayon laser
        |             r&eacute;tr&eacute;cissant&mldr; et devient riquiqui comme une fourmi !
        br
        u - Non-Non dans l&rsquo;espace (2022, 26&apos;) :
        br
        |             3&mldr; 2&mldr; 1&mldr; 0! Fin du compte &agrave; rebours, c&rsquo;est l&rsquo;heure d&rsquo;aller planter
        |             le drapeau de Sous-Bois-Les-Bains sur la lune! Dans un nuage de
        |             fum&eacute;e et d&rsquo;&eacute;tincelles, la fus&eacute;e de Grocroc quitte l&rsquo;orbite
        |             terrestre. En apesanteur dans l&rsquo;espace, Non-Non, Maga&iuml;veur et les
        |             copains ont &agrave; peine le temps d&rsquo;admirer le paysage qu&rsquo;une pluie de
        |             m&eacute;t&eacute;orites les fait d&eacute;vier de leur trajectoire initiale et les
        |             envoie directement... sur une plan&egrave;te inconnue ! La rencontre avec
        |             Cro&acirc;k, un petit homme vert, va transformer cette &eacute;pop&eacute;e spatiale en
        |             histoire d&rsquo;amiti&eacute; interplan&eacute;taire !
      .affiche-horaires
        h4.WRAPPED Horaires
        div
          p Salle 1
          p Salle 2
      table
        thead
          th Mercredi
          th Jeudi
          th Vendredi
          th Samedi
          th Dimanche
          th Lundi
          th Mardi
        tbody
          tr
            td -
            td.horaire-s2 17h00
            td.horaire-s2 17h00
            td -
            td -
            td -
            td -
          tr
            td -
            td -
            td -
            td -
            td -
            td -
            td -
  p.top-page
    a(href='#top-page') &#x2C4;
