@use "../variables" as *;

.evenement {
  height: auto;
  background-color: rgba($neutral-color, 0.8);
  border: 1px solid white;

  & h2 {
    background-color: $main-color;
    color: white;
    text-align: center;
    border: 1px solid white;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }

  hr:first-of-type {
    border: 3px solid black;
  }

  hr {
    border: 1px solid black;
  }

  p {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
  }

  div {
    padding: 1rem 1.8rem;
    text-align: center;
    line-height: 1.8rem;
    font-size: 1.4rem;

    &:first-of-type {
      color: $secret-color;
    }
    color: $main-color;
    &:last-child {
      padding-bottom: 2rem;
    }
  }
}
