@use "../variables" as *;

.page-form {
  display: flex;
  flex-direction: column;
  margin: 1em;
  gap: 1em;

  .block-form {
    background-color: $neutral-color;
    display: flex;
    flex-direction: column;

    * {
      margin: 0.3em;
    }

    fieldset {
      display: flex;
      flex-direction: row;
    }
  }

  .link-btn {
    border: solid black 1px;
    border-radius: 20%;
    padding: 0.05em 0.3em;
    background-color: white;
    width: fit-content;
    height: auto;
  }

  .search-nav-ctrl {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0% 20%;
  }

  .current-selection-list {
    grid-column: 2 / 3;
    color: black;
    font-weight: bold;

    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    font-family: "Raleway", sans-serif;

    div {
      display: flex;
      gap: 0.3em;
      justify-content: space-between;
      align-items: center;
      padding-right: 1em;

      button {
        color: black;
        background: none;
        border: none;
        font-size: 1.5em;

        &:hover {
          color: lighten(black, 40%);
        }
      }
    }
  }
}

.popup {
  visibility: hidden;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 1;

  a {
    grid-column: 1 / 3;
    text-align: right;
  }

  &:target {
    visibility: visible;
  }

  form {
    background-color: $neutral-color;
    border: black 1px solid;
    padding: 0.5em;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1.3em;
    row-gap: 0.3em;

    position: fixed;
    top: 30%;
    left: 30%;
    width: 40%;
    height: 40%;
    z-index: 10;

    select,
    button {
      grid-column: 1 / 3;
    }
    button {
      grid-row: span 3;
      margin-top: 2em;
    }
  }
}

.param-form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  * {
    margin: 0.3em;
  }

  select {
    grid-column: 1 / 3;
  }
  button {
    grid-column: 1 / 2;
  }
  fieldset {
    grid-column: 1 / 6;
    font-family: "Raleway", sans-serif;

    legend {
      font-weight: bold;
    }
  }
  input[type="checkbox"] {
    grid-column: 1 / 2;

    label + & {
      grid-column: 2 / 6;
      text-align: left;
    }
  }
}

.link-button {
  display: block;
  width: fit-content;
  height: 1em;
  line-height: 1em;
  padding: 0.3em;
  text-align: center;
  background-color: white;
  border: 1px black solid;
  border-radius: 3px;
  font-family: "Raleway", sans-serif;
}
