.page-form {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 0.8em;
  margin: 1em;

  label {
    color: white;
    margin-right: 1em;
    text-align: right;
  }

  button {
    grid-column: 2 / 3;
  }
  legend {
    grid-column: 1 / 3;
    color: white;
  }

  .current-selection-list {
    grid-column: 2 / 3;
    color: white;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: "Raleway", sans-serif;

    div {
      display: flex;
      gap: 0.3em;
      justify-content: space-between;
      align-items: center;
      padding-right: 1em;

      button {
        color: white;
        background: none;
        border: none;
        font-size: 1.5em;

        &:hover {
          color: darken(white, 40%);
        }
      }
    }
  }
}
